<div class="wrapper full-height">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <ul class="main-menu">
        {{#link-to 'index' tagName='li'}}Dashboard{{/link-to}}
        {{#link-to 'build' tagName='li'}}Build Mode{{/link-to}}
        {{#link-to 'queue' tagName='li'}}Queue{{/link-to}}
        {{#link-to 'logs' tagName='li'}}Logs{{/link-to}}
      </ul>
    </nav>
    <div class="container" id="main">
        {{outlet}}
    </div>
</div>
